[Unit]
Description=ListenPortMariaDB
After=mariadb.service network.target

[Service]
Type=simple
ExecStart=/home/ec2-user/ListenPortMariaDB 13306
Restart=always

[Install]
WantedBy=multi-user.target