[Unit]
Description=healthchecker
After=mariadb.service network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/healthchecker 13306
Restart=always

[Install]
WantedBy=multi-user.target